* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Roboto Mono', monospace;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
    --green: #27ae60;
}

html {
    font-family: var(--font);
    font-size: 10px;
    scroll-behavior: smooth;
    min-width: 1200px;
}


/* NAV BAR CSS */

.anonymous_container {
    width: 100%;
    /* max-width: 122.5rem; */
    margin: 0 auto;
    padding: 0 2.4rem;
    position: fixed;
    background: #f5f5f5;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.anonymous_nav {
    height: 6.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.anonymous_logo {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.anonymous_logo:hover {
    opacity: 0.7;
}

#anonymous_logo_icon {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    line-height: 72px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 25px;
}

nav li a {
    text-decoration: none;
    font-size: 160%;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.3em;
    color: #000;
    border-bottom: #f5f5f5 solid 2px;
    transition: .4s;
}

nav li a:hover {
    color: #596365;
    border-bottom: #484848 solid 2px;
}

#signin {
    color: var(--green);
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: #f5f5f5;
    padding: .5em;
    border-radius: 2px;
    border-bottom: #f5f5f5 solid 2px;
}

#signin:hover {
    color: #596365;
    border-bottom: #484848 solid 2px;
}

#navlogo {
    border: none;
    position: absolute;
    left: 10px;
    top: 10px;
}

h1 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 7em;
}

h2 {
    font-weight: 400;
    font-size: 4em;
}

.heading {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading span {
    color: var(--green);
    ;
}

.container {
    background-color: transparent;
}

.hero {
    width: 100%;
    height: 30%;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 300px;
}

.form {
    position: relative;
    margin-top: 5%;
    display: flex;
    height: 50%;
    width: 50%;
    padding: 3px 0px;
    justify-content: center;
    border-radius: 10px;
}

form {
    width: 100%;
}

input {
    margin: 10px 2px;
    height: 45px;
    padding: 5px;
    border-radius: 4px;
    border: 3px solid #e7e7e7;
    box-sizing: border-box;
    border-color: #e7e7e7;
    color: black;
    width: 60%;
    background-color: #e7e7e7;
    transition: .3s;
}

input::placeholder {
    color: black;
}

input:hover::placeholder,
input:hover::placeholder {
    color: black;
}

input:hover,
input:focus,
input:not(:placeholder-shown) {
    color: black;
    background-color: white;
    border-color: #606060;
}

input:nth-child(2) {
    width: 15%;
}

input[type=submit] {
    width: 20%;
    background-color: #e7e7e7;
    border-color: #A0A0A0;
    color: #484848;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #e7e7e7;
    border-color: #606060;
    color: black;
}

.features {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    background-color: #e7e7e7;
    padding-bottom: 2%;
}

.features h2 {
    padding: 5%;
    width: 100%;
    text-align: center;
}

.features h2 span {
    color: var(--green);
    ;
}

h3 {
    font-size: 3rem;
    font-weight: 200;
    text-align: left;
}

.content {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 10px 5%;
    align-items: center;
}

.content .text {
    padding: 2% 5%;
    width: 50%;
    font-family: var(--body-font);
    font-size: 1.5rem;
}

.content .image {
    padding: 2% 10%;
    width: 50%;
}

.perks {
    padding: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.perks h3 {
    text-align: center;
}

.card {
    padding-bottom: 10%;
    font-family: var(--body-font);
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
}

.card img {
    display: block;
    height: 10em;
    width: auto;
    margin: auto;
    padding: 1%;
}

.perks-heading h2 {
    text-align: center;
    margin: 5% auto;
}

.perks-heading h2 span {
    color: var(--green);
    ;
}

.testimonial h2 {
    text-align: center;
    margin: auto;
    padding: 5%;
}

.testimonial h2 span {
    color: var(--green);
    ;
}

.testimonial {
    background-color: #e7e7e7;
}

.testimonial .container {
    display: flex;
    justify-content: space-between;
}

.people {
    /* flex: 1; */
    border: #252525 2px solid;
    margin: 2em;
    font-family: var(--body-font);
    font-size: 1.5em;
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 1em;
    box-shadow: #b4b4b4 0px 0px 20px;
    transition: .5s;
}

.people:hover {
    transform: scale(1.1);
}

.people img {
    display: block;
    margin: auto;
    height: 70px;
    width: auto;
    margin: 5% auto;
}

.people h4 {
    text-align: center;
}

.right {
    text-align: right;
}

.people h5 {
    padding: 1em;
    font-size: 2em;
    padding-bottom: 0em;
}

.plans .container {
    display: flex;
    justify-content: center;
}

.plans h2 {
    text-align: center;
    margin: auto;
    padding: 1.5em;
}
.plans .container
{
    margin: 0em 10em;
}
.plancard {
    flex: 1;
    width: 25%;
    text-align: left;
    border: #252525 2px solid;
    margin: 2em;
    font-family: var(--body-font);
    font-size: 1.7em;
    border-radius: 5px;
    background-color: white;
    border: none;
    box-shadow: #b4b4b4 0px 0px 20px;
    transition: .5s;
    border-top: green solid 3px;
    border-bottom: green solid 3px;
}

.plancard h3 {
    font-size: 3em;
    text-align: center;
    border-bottom: rgb(219, 219, 219) 3px solid;
    padding: 0.6em;
}

.planinfo {
    border-left: green 3px solid;
    line-height: 2em;
    padding-left: 1em;
    border-bottom: rgb(219, 219, 219) 3px solid;
    padding: 1em 1em;
}

.planinfo i {
    width: 35px;
    height: 35px;
    font-size: 1.5em;
    padding-right: auto;
    margin-right: 1em;
    text-align: center;
}

.price {
    border-bottom: rgb(219, 219, 219) 3px solid;
    padding: 1em 2em;
}

.price span {
    color: var(--green);
    ;
}

.plans .plancard:hover {
    transform: scale(1.1);
}

.business-plans .plancard:hover {
    transform: scale(1.1);
}

span {
    color: var(--green);
    ;
}

.fa-tachometer-alt,
.fa-wifi,
.fa-bolt {
    color: var(--green);
    ;
}

.business-hero {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    background-color: #e7e7e7;
    ;
    text-align: center;
    color: black;
    padding-bottom: 60px;
}

.business-hero h4 {
    font-family: var(--font);
    font-size: 1.5em;
    line-height: 5em;
}

.business-hero input {
    border: 2px solid white;
}

.description {
    text-align: center;
    margin: 5em 10em;
}

.description h1 {
    font-size: 4.5em;
}

.description h2 {
    font-size: 3em;
}

.description h4 {
    font-size: 1.7em;
    padding: 1em 9em;
    font-weight: 400;
    font-family: var(--body-font);
}

.description div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.description div div {
    flex: 1;
    width: 50%;
    flex-grow: .5;
    text-align: center;
    align-items: center;
    margin: auto;
}

.description div img {
    padding-bottom: 3em;
}

.description div div p {
    padding-top: 2em;
    font-family: var(--body-font);
    font-size: 1.7em;
}

.business-plans h2 {
    text-align: center;
    padding: 2em;
}

.business-plans .container {
    display: flex;
    justify-content: center;
}

.business-plans .plancard {
    margin: 2em 5em;
    border-top: none;
    background-color: #f5f5f5;
    width: 25%;
    flex: none;
    border-bottom: #f5f5f5 solid 3px;
}

.business-plans .plancard h3 {
    font-size: 1.5em;
    padding: .7em 0.7em;
    text-align: left;
    border-bottom: none;
    color: black;
}

.business-plans .planinfo {
    text-align: left;
    background-color: white;
    padding: .7em;
    list-style-type: decimal;
    border-color: white;
    font-family: var(--body-font);
    font-weight: 100;
}

.business-plans .planinfo ul {
    margin: 2em 2em;
}

.business-plans .planinfo input {
    position: relative;
    width: 60%;
    left: 20%;
}

.included-in-plans {
    text-align: center;
    padding-top: 5em;
}

.stay-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25%;
}

.stay-in-touch h2 {
    word-spacing: -0.2em;
}

.stay-in-touch input[type=text] {
    width: 50%;
    margin-top: 3em;
    margin-bottom: 0;
}

.stay-in-touch p {
    font-family: var(--body-font);
    font-size: 1.5em;
    text-align: center;
    padding: 2em 25%;
}

.stay-in-touch .socials i {
    font-size: 5em;
    padding: 0 .35em;
    color: #919191;
    padding-bottom: 2em;
    transition: .4s;
}

.stay-in-touch .socials i:hover {
    color: #252525;
}

#fibercities {
    justify-content: center;
}
.support 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 15%;
    font-family: var(--body-font);
    font-size: 1.5rem;
}
#phone
{
    justify-content: flex-end;
}
#mail
{
    justify-content: start;
}
#mail .text{
    width: 27%;
    margin: 2%;
}
#phone .text{
    width: 27%;
    margin: 2%;
   
}
pre{
    font-family: var(--body-font);
}
#phone img{

    padding: 2%;
}
#email img{
    padding: 2%;
}
.support a{
    text-decoration: none;
}

/*FOOTER CSS */

.global_footer {
    background: #f5f5f5;
    font-family: "Google Sans", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 60px 20px 0
}

.global_footer * {
    box-sizing: border-box
}

.global_footer a {
    text-decoration: none
}

@media only screen and (min-width: 901px) {
    .global_footer {
        padding: 56px 0 40px
    }
}

.global_footer__container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1000px
}

@media only screen and (min-width: 901px) {
    .global_footer__container {
        justify-content: space-evenly
    }
}

.global_footer__section {
    flex-grow: 0;
    padding: 0 24px;
    margin-bottom: 48px;
    width: 50%;
    min-width: 120px
}

@media only screen and (min-width: 901px) {
    .global_footer__section {
        width: auto
    }
}

.global_footer__section__title {
    color: #5f6368;
    cursor: default;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase
}

.global_footer__group {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 24px 0 0 0;
    padding: 0;
    vertical-align: baseline
}

.global_footer_item {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    list-style-type: none;
}

.global_footer_item a {
    color: #5f6368;
    opacity: .48
}

.glue-body .global_footer_item a {
    color: #5f6368
}

.footnotes {
    color: #5f6368;
    font-size: 12px;
    font-weight: 300;
    background: none;
    border-top: 1px solid #D8D8D8;
    margin: 0 auto;
    max-width: 900px
}

.footnotes__copyright {
    border-top: 1px solid #d8d8d8
}

.footnotes p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: .35px;
    font-family: "Roboto";
    color: #5f6368;
    padding: 24px 0;
    text-align: left
}

@media only screen and (min-width: 768px) {
    .footnotes p {
        font-size: 12px
    }
}

@media only screen and (min-width: 1024px) {
    .footnotes p {
        font-size: 12px
    }
}

@media only screen and (min-width: 1200px) {
    .footnotes p {
        font-size: 12px
    }
}

.footnotes p+p {
    padding-top: 0
}

.footnotes p.footnotes__copyright {
    margin-top: 0;
    padding-top: 24px
}

.footnotes a {
    color: inherit;
    text-decoration: underline
}

.footnotes .basic_plan_info {
    border-bottom: 1px solid #d8d8d8
}

.footnotes .basic_plan_info h4 {
    font-weight: 500;
    line-height: 22px;
    margin: 24px 0 0
}

.footnotes .basic_plan_info p {
    padding: 0 0 24px
}

.glue-body .footnotes a {
    color: #5f6368
}

body.global_notice--active-body {
    padding-top: 90px
}

@media only screen and (min-width: 901px) {
    body.global_notice--active-body {
        padding-top: 90px
    }
}

body.global_notice--active-body .global_nav__with_notice_bar {
    top: 0
}


/* Foter CSS ENDS */


/** About Us CSS */


/** Radix ON The Job */

.mission {
    line-height: 1.5;
}